/* Base Layout */
#dashboard {
    min-height: 100vh;
    display: flex;
    transition: all 0.3s ease-in-out;
}

/* sidebar */
#dashboard .sidebar {
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    min-width: 250px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 999;
}

#dashboard .sidebar .head-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    padding: 20px 0;
    width: 240px;
    z-index: 999;

}

#dashboard .sidebar .close-btn {
    background-color: aliceblue;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 1000;
}

/* dashbar */
#dashboard .main-content {
    flex-grow: 1;
    margin-left: 250px !important;
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

/* #dashboard .main-content .dashbar {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
} */


/* #dashboard .main-content .dashbar .bar-wrapper {
    cursor: pointer;
    display: none;
} */

/* #dashboard .main-content .dashbar .theme-wrapper {
    cursor: pointer;
    width: 45px !important;
 height: 45px !important; 
} */

/* #dashboard .main-content .dashbar .profile-wrapper {
    width: 45px;
    cursor: pointer;
    margin-left: auto;
} */

/* dashbar > user details */
/* #dashboard .main-content .dashbar .profile-wrapper .details {
    position: absolute;
    right: 25px;
    bottom: -200px;
    border: #ccc solid 1px;
    background-color: aliceblue;
    width: 210px;
    height: auto;
    transition: all .4s ease-in-out;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
}

#dashboard .main-content .dashbar .profile-wrapper:focus .details {
    transform: translateY(10px);
    visibility: visible;
    opacity: 1;
} */

/* #dashboard .main-content .dashbar .profile-wrapper .details .user .user-img {
    flex-basis: 25%;
    margin-right: 10px;
} */

/* dashbar > options */
/* #dashboard .main-content .dashbar .profile-wrapper .details .options .option img {
    margin-right: 5px;
} */

#dashboard .dashbar .form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 33, 0.5);
    backdrop-filter: blur(5px);
    z-index: 98;
}

#dashboard .dashbar .user-form-popup {
    width: 60%;
    min-height: 70%;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eee;
    transition: .3s all ease-in-out;

}

#dashboard .dashbar .user-form-popup .close-btn {
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#dashboard .dashbar .input-group-prepend {
    position: relative;
}

#dashboard .dashbar .input-group-prepend:nth-of-type(2) button {
    top: 24px;
    right: 0px;
    width: 38px;
    height: 38px;
}

#dashboard .dashbar .input-group-prepend:nth-of-type(3) button {
    top: 24px;
    right: 0px;
    width: 38px;
    height: 38px;
}

/* item */
#dashboard .item {
    transition: .3s;
    opacity: .8;
}

#dashboard .item {
    color: black;
}

#dashboard .item .title,
#dashboard .item .icon {
    opacity: .6;
}

#dashboard .item:hover {
    background-color: #eee;
}

#dashboard .item.active {
    background-color: #111;
    opacity: 1;
}

#dashboard .item.active .title,
#dashboard .item.active .icon {
    color: white;
    opacity: 1;
    filter: brightness(0) invert(1);
}

#dashboard .cat {
    padding-left: 4px;
}

#dashboard .cat-title {
    position: relative;
    opacity: .5;
}

#dashboard .cat-title::before {
    content: '';
    width: 20px;
    height: 1px;
    background-color: #999;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -26px;
}

#dashboard .main-content .dash-card {
    min-height: 220px !important;
}

/* Themes */
#dashboard.dark {
    background-color:
        #232333 !important;
    color: #eee !important;
}

#dashboard.dark .sidebar {
    background-color:
        #2a2b3f !important;
    color: #eee !important;
}

#dashboard.dark .sidebar .head-wrapper {
    background-color: #2a2b3f !important;
}

#dashboard.dark .sidebar .item .title,
#dashboard.dark .sidebar .cat .cat-title {
    color: #eee !important;
}

#dashboard.dark .sidebar .item:hover {
    background: #121212 !important;
}

#dashboard.dark .sidebar img {
    filter: invert(1);
}

#dashboard.dark .dashbar {
    background-color:
        #2a2b3f !important;
    color: #eee !important;
}

#dashboard.dark .dashbar .icon {
    filter: invert(1);
}

/* #dashboard.dark .dashbar .profile-wrapper .details {
    background-color: #2a2b3f !important;
    border: 1px solid #444;
    color: #eee !important;
} */

/* #dashboard.dark .dashbar .profile-wrapper .details .options .option {
    color: #eee !important;
} */

/* #dashboard.dark .dashbar .profile-wrapper .details .options .option img {
    filter: invert(1);
} */

#dashboard #dashboard.dark .dashbar .user-form-popup {
    background-color: rgba(42, 43, 63, .5);
}

#dashboard #dashboard.dark .dashbar .user-form-popup button:hover {
    outline: 1px solid #eee;
}

#dashboard #dashboard.dark .dashbar .user-form-popup .ok-btn {
    border: none;
    outline: none;
    background-color: white !important;
    color: #121212 !important;
}

#dashboard .main-content.dark {
    background-color: #2a2b3f !important;
    color: #eee !important;
}

#dashboard.dark .main-content .dash-card {
    background-color: #2a2b3f !important;
    color: #eee !important;
}

@media (max-width: 768px) {

    /* this is tricky , take care ❗❗ */
    #dashboard .sidebar .head-wrapper {
        /* position: static; */
        padding: 0 !important;
        top: 2% !important;
        left: 50% !important;
        transform: translateX(-50%);
    }

    /* #dashboard .main-content .dashbar .bar-wrapper {
        display: block;
    } */

    #dashboard .sidebar {
        position: fixed;
        left: -250px;
        top: 0;
        width: 0;
        height: 100vh;
        box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out, width .3s ease-in-out, opacity 0.3s ease-in-out;
        opacity: 0;
    }

    #dashboard .sidebar.open {
        transform: translateX(250px);
        width: 100%;
        opacity: 1;
    }

    #dashboard .main-content {
        margin-left: 0 !important;
    }

    #dashboard .dashbar .user-form-popup {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 90%;
    }
}