#landing {
    min-height: 80vh;
}

#landing .main-text .intro {
    font-size: 52px;
}

#landing .main-text p {
    width: 60% !important;
    text-wrap: wrap;
}

#landing .main-text .start-btn {
    border: none;
    outline: none;
    border-radius: 20px;
    transition: .3s;
}

#landing .main-text .start-btn:hover {
    color: black !important;
    background-color: aliceblue !important;
    outline: 1.5px black solid;
}

@media (max-width:768px) {
    #landing .main-text .intro {
        font-size: 32px !important;
    }
}