#contact {
    position: relative;
    overflow: hidden;
    background-image: url('../../assets/stars.png');
    background-position: 0 0;
    background-size: cover;
    background-attachment: fixed;
    animation: moveBackground 15s linear infinite;
}

@keyframes moveBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 100%;
    }
}

@media (max-width:768px) { 
   #contact {
        background-size: contain;
        animation: moveBackground 35s linear infinite;
    }
}