#how {
    padding-top: 75px;
    padding-bottom: 75px;
}

#how .step-2,
#how .step-3 {
    height: 100%;
}
#how .step-1 .img-wrapper{
    width: 55% !important;
}

#how .step .img-wrapper img {
    animation: imgAnimation 2.5s ease-in-out infinite;
}

@keyframes imgAnimation {
    0% {
        transform: scale(1) translateY(0);
        
    }

    50% {
        transform: scale(1.02) translateY(5px);
        
    }

    100% {
        transform: scale(1) translateY(0);
    }
}

@media (min-width:768px) {
    #how .step-2 {
        flex-direction: column;
    }

    #how .step-3 {
        flex-direction: column;
    }
}
