/* components */
/* Step */
#step {
    border-radius: 40px;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#step .text-wrapper {
    flex-basis: 45%;
}

@media (max-width:768px) {
    #step {
        flex-wrap: wrap;
        text-align: center !important;
    }

    #step .text-wrapper {
        flex-basis: 100% !important;
    }

    #step .img-wrapper {
        flex-basis: 100% !important;
    }
}

/* GGbtn */
#gg-link {
    display: inline-block;
    border: none;
    outline: none;
    padding: 7px 18px;
    margin: 3px;
    border-radius: 20px;
    transition: .3s;
}

#gg-link:hover {
    transform: translateY(-3px);
}

/* GoUp */
.go-up {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: none;
    border: none;
    outline: none;
    width: 45px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 999;
    transition: .3s;
}

.go-up:hover {
    transform: translateY(-3px);
}